In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
file_path = "Counterlist-DE.txt"
data = open(file_path,'r')

In [3]:
data=[]
with open(file_path,'r') as f:    
    lines = f.readlines()[1:]
    for line in lines:
        line = line.replace('"', '')
        elements = line.strip().split("\t")
        data.append(elements)

In [4]:
columns=data[0]
data = data[1:]

In [51]:
df = pd.DataFrame(data=data, columns=columns)

In [52]:
df.head()

,total,mainPratique,id_pdc_img,today,fin,filtre,publicMessage,option1,debutPeriode,lastDay,...,photo,nom,current_year_default,moyD,lienPublic,pays,formule_site,debut,externalUrl,sig
0,285615,2,100012608,21/03/2020,null,0,,,01/01/2020,2290,...,System.Object[],Heidelberg_2 (DE),1,3570,100117680,fr,0,01/01/2013,https://www.eco-compteur.com,1
1,37851,2,100008949,21/03/2020,null,0,,,01/01/2020,428,...,System.Object[],L??rrach (DE),1,473,100117687,fr,0,01/01/2013,https://www.eco-compteur.com,1
2,92606,2,100011532,21/03/2020,null,0,,,01/01/2020,1587,...,System.Object[],Heilbronn (DE),1,1158,100117704,fr,0,01/01/2013,https://www.eco-compteur.com,1
3,64369,2,100013457,21/03/2020,null,0,,,01/01/2020,1005,...,System.Object[],Kirchheim u. Teck (DE),1,805,100117707,fr,0,01/01/2013,https://www.eco-compteur.com,1
4,127563,2,100005395,21/03/2020,null,0,,,01/01/2020,2041,...,System.Object[],Rostock (DE),1,1595,100117720,fr,0,01/01/2013,https://www.eco-compteur.com,1

In [61]:
df[df['nom'].str.contains("\?")]

Empty DataFrame
Columns: [total, mainPratique, id_pdc_img, today, fin, filtre, publicMessage, option1, debutPeriode, lastDay, pictoPublic, idPdc, lat, logo, lon, pratique, nomOrganisme, photo, nom, current_year_default, moyD, lienPublic, pays, formule_site, debut, externalUrl, sig]
Index: []

[0 rows x 27 columns]

In [60]:
df = df.replace("L??rrach (DE)","Loerrach (DE)")
df = df.replace("L??rrach_2 (DE)","Loerrach_2 (DE)")
df = df.replace("G??ttingen (DE)","Goettingen (DE)")
df = df.replace("G??ttingen_1 (DE)","Goettingen_1 (DE)")
df = df.replace("G??ttingen_2 (DE)","Goettingen_2 (DE)")
df = df.replace("D??sseldorf (DE)","Duesseldorf (DE)")
df = df.replace("T??bingen (DE)","Tuebingen (DE)")
df = df.replace("Osnabr??ck (DE)","Osnabrueck (DE)")
df = df.replace("M??lheim (DE)","Muelheim (DE)")
df = df.replace("M??nster_Hammer Stra??e (DE)","Muenster_Hammer Strasse (DE)")

In [62]:
df.head()

,total,mainPratique,id_pdc_img,today,fin,filtre,publicMessage,option1,debutPeriode,lastDay,...,photo,nom,current_year_default,moyD,lienPublic,pays,formule_site,debut,externalUrl,sig
0,285615,2,100012608,21/03/2020,null,0,,,01/01/2020,2290,...,System.Object[],Heidelberg_2 (DE),1,3570,100117680,fr,0,01/01/2013,https://www.eco-compteur.com,1
1,37851,2,100008949,21/03/2020,null,0,,,01/01/2020,428,...,System.Object[],Loerrach (DE),1,473,100117687,fr,0,01/01/2013,https://www.eco-compteur.com,1
2,92606,2,100011532,21/03/2020,null,0,,,01/01/2020,1587,...,System.Object[],Heilbronn (DE),1,1158,100117704,fr,0,01/01/2013,https://www.eco-compteur.com,1
3,64369,2,100013457,21/03/2020,null,0,,,01/01/2020,1005,...,System.Object[],Kirchheim u. Teck (DE),1,805,100117707,fr,0,01/01/2013,https://www.eco-compteur.com,1
4,127563,2,100005395,21/03/2020,null,0,,,01/01/2020,2041,...,System.Object[],Rostock (DE),1,1595,100117720,fr,0,01/01/2013,https://www.eco-compteur.com,1

In [63]:
import requests
import json
from datetime import datetime

unique_date = []
data_sets = []

def create_request():
    json_data={}
  
    for index, row in df.iterrows():
        url = 'http://data.eco-counter.com/ParcPublic/CounterData'
        start_day, start_month, start_year = row.debut.split('/')
        today_day, today_month, today_year = datetime.today().strftime('%d/%m/%Y').split('/')
        body = "idOrganisme=4586&idPdc={}&fin={}%2F{}%2F{}&debut={}%2F{}%2F{}&interval=4&pratiques=101137483%3B102137483%3B103137483%3B104137483".format(row.idPdc, today_day, today_month, today_year, start_day, start_month, start_year)

        headers = {
            "Accept": "text/plain, */*; q=0.01",
            "Accept-Encoding": "gzip, deflate",
            "Accept-Language": "en-US,en;q=0.9",
            "Connection": "keep-alive",
            "Content-Length": "115",
            "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
            "Cookie": "i18next=en_US; _ga=GA1.2.1682226698.1584790632; _gid=GA1.2.220973166.1584790632",
            "Host": "data.eco-counter.com",
            "Origin": "http://data.eco-counter.com",
            "Referer": "http://data.eco-counter.com/ParcPublic/?id=4586",
            "User-Agent": "Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.80 Safari/537.36",
            "X-Requested-With": "XMLHttpRequest"
        }
        x = requests.post(url, body, headers=headers)   
    
        for entry in x.json()[:-1]:
            data_set={}
            date = str(entry[0]) 
            formatted_date = datetime.strptime(date, '%m/%d/%Y').strftime('%Y-%m-%d')   
            data_set['datum']= formatted_date
            data_set['value']= str(entry[1])
            data_set['name']= row['nom']
            data_set['lon']=row['lon']
            data_set['lat']=row['lat']
            data_sets.append(data_set)
            if formatted_date not in unique_date:
                unique_date.append(formatted_date)
    return data_sets

In [64]:
json_data = create_request()

In [ ]:
'''import boto3

s3_client = boto3.client('s3', 
    aws_access_key_id=settings.AWS_SERVER_PUBLIC_KEY, 
    aws_secret_access_key=settings.AWS_SERVER_SECRET_KEY, 
    region_name=REGION_NAME
    )'''

In [65]:
import os
path = "fahrrad_daten"
if not os.path.exists(path):
    os.mkdir(path)

for date in unique_date:
    year=date[0:4]
    month=date[5:7]
    day=date[8:10]
    path = "fahrrad_daten/"
    if not os.path.exists(path+year):
        os.mkdir(path+year)
    if not os.path.exists(path+year+"/"+month):
        os.mkdir(path+year+"/"+month)
    if not os.path.exists(path+year+"/"+month+"/"+day):
        os.mkdir(path+year+"/"+month+"/"+day)
    data_array=[]
    for i in json_data:
        if i['datum'] == date:
            data_array.append(i)
    '''response = s3_client.put_object(
      Bucket="sdd-s3-basebucket",
      Body=json.dumps(data_array),     
      Key="fahrrad/"+year+"/"+month+"/"+day+'/{}.json'.format(year + '-' + month + '-' + day)
    )'''
    with open(path+year+"/"+month+"/"+day+'/{}.json'.format(year + '-' + month + '-' + day), 'w') as f:
        f.write(json.dumps(data_array))